@media (min-width: 481px) and (max-width: 768px) {
	.scroll_nav .nav-top .tel{
		padding-left: 10px;
		margin-top: -20px;
	}
	.scroll_nav .nav-top .diagnosis{
		
		background-position: 0 -20px;
	}
	.scroll_nav .nav-top{
		width: 65%;
	}
	.scroll_nav .logo{
		margin-top: -20px;
	}
	.scroll_nav .nav-bottom{
		width: 100%;
		position: absolute;
		left: 5px;
		top: 100px;
	}
	.scroll_nav .nav-bottom>ul{
		margin-left: 30px;
	}
	.scroll_nav .nav-bottom .wrapper{
		float: left;
	}
	.wrapper ul.dropdown li.dropdown-top{
		margin-top: -52px;
		
	}
	ul .dropdown .dropdown-top .dropdown-inside{
		top: 0px;

	}
	.headhesive .nav-bottom{
		top: 0px;
		left: 110px;
	}
	.headhesive .nav-bottom>ul{
		margin-right: 5px;
	}
	.headhesive .nav-bottom .wrapper{
		float: right;
	}
}