@media (max-width: 768px) {
	.scroll_nav .nav-top .tel{
		padding-left: 10px;
		margin-top: -20px;
	}
	.scroll_nav .nav-top .diagnosis{
		background-position: 0 -20px;
	}
	.headhesive .nav-top{
	}
	.headhesive .nav-top .tel{
		position: absolute;
		right: 150px;
	}
	.headhesive .nav-top .diagnosis{
		position: absolute;
		right: 0;
	}
	.headhesive .nav-top .priem{
		display: none;
	}
	.scroll_nav .nav-top{
		width: 65%;
	}
	.scroll_nav .logo{
		margin-top: -20px;
	}
	.scroll_nav .nav-bottom{
		width: 100%;
		position: absolute;
		left: 5px;
		top: 100px;
	}
	.scroll_nav .nav-bottom>ul{
		margin-left: 30px;
	}
	.scroll_nav .nav-bottom .wrapper{
		float: left;
	}
	.wrapper ul.dropdown li.dropdown-top{
		margin-top: -52px;
	}
	.headhesive ul.dropdown li.dropdown-top{
		margin-top: -10px;
		margin-left: -70px;
	}
	.header ul.dropdown .dropdown-inside {
    top: 30px;
    
  }
  .header ul.dropdown .dropdown-inside a{
  	font-size: 16px;
  }
	ul .dropdown .dropdown-top .dropdown-inside{
		top: 0px;

	}
	.headhesive .nav-bottom{
		top: 0px;
		left: 110px;
	}
	.headhesive .nav-bottom>ul{
		display: none;
	}
	.headhesive .nav-bottom .wrapper{
		float: right;
	}
	.header .registration {
		width: 46%;
    padding: 20px 32px;
    font-size: 16px;
    margin-top: 0;
    text-align: center;
	}
	.header .cerec {
    width: 100%;
	}
	.header .cerec img{
		width: 50%;
	}
	.cerec h1 {
    font-size: 30px;
	}
	body header{
		height: 550px;
	}
	.action .baner {
    width: 60%;
    display: block;
    margin: 10px auto;
	}




	.carousel-block img{
		height: 200px;
	}
	.carousel-wrapper{
		height: 280px;
	}
	.spec .carousel h2{
		font-size: 28px;
	}
	body .spec{
		padding-top: 5px;
	}
	.spec .carousel-button-left a, .spec .carousel-button-right a{
		top: 8px;
		left: 320px;
	}
	.carousel-items .carousel-block{
		width: 2.3%;
	}
	.carousel .carousel-wrapper{
		padding-top: 0;
		margin-top: -30px;
	}
	.carousel .carousel-block h3, .carousel .carousel-block h4{
		font-size: 20px;
	}


	.consultation{
		padding: 0 10px;
	}

	body .consultation div h2{
		font-size: 28px;
	}
	body .consultation div a{
		font-size: 18px;
		padding: 7px 55px;
		margin-left: 10px;
	}
	body .services{
		height: 1100px;
	}
	.f-services .right,
	.f-services .left{
		width: 100%;
	}

	.f-services .left li{
		
	}
	.f-services .left a:nth-child(2n){
		float: right;
		margin-top: -85px;
		width: 50%;
	}
	#content blockquote{
		width: 100%;
	}
	#content blockquote h2{
		font-size: 22px;
	}
	#content blockquote p{
		
	}
	#content blockquote:before, 
	#content blockquote:after{
		font-size: 10em;
	}
	.sliderContent .all_otz{
		left: 20px;
	}


	.services h2, .action h2{
		text-align: center;
	}


	.credit .column {
    width: 100%;
    display: block;
    margin-top: 0;
  }

	body .address div {
    display: block;
    float: none;
    margin-bottom: 20px;
}
	body .address{
		float: left;
		width: 25%;
	}
	.map-medium{
		float: right;
		width: 75%;
		
	}
	

	body #box h2{
		margin-bottom: 20px;
	}
	#box2 .rezultat{
		width: 100%;
		margin-top: 0px;
	}
	#box2 .h2 h2{
		font-size: 32px; 
	}
	#box2 .box2 h3{
		font-size: 24px;
	}
	#box2 .box2 p{
		font-size: 12px;
	}
	#box2 .box2 .c_k_z .price{
		margin-top: 5px;
	}
	#box2 .box2 .c_k_z .price span{
		font-size: 40px;
	}
	#box2 .box2 .c_k_z .price .rub{
		font-size: 20px;
	}
	#box2 .box2 .c_k_z{
		margin-top: 10px;
	}
	#box2 .box2 .down{
		margin-top: 0;
	}
}