/* ------ Общие стили
-----------------------------------------------*/

.pd{
padding:10px;
background:#B0AFAF;
float:left;
clear:both;
width:100%;
margin-bottom:10px;
font-weight: bold;
}

.carousel-block {
   float: left;
   padding: 10px 10px 10px 0px;
   text-align: center;
   color: #2768b9;
}
.spec .carousel-block{
	width: 33%;
}
.spec .prev,
.spec .next{
	top: -20px;
	left: 450px;
}
.spec .next{
	left: 542px;
}
.sliderBullets a {
    display: block;
    float: left;
    text-indent: -9999px;
    outline: none;
    margin-left: 5px;
    width: 11px;
    height: 11px;
    border: 2px solid #0c45ba;
    border-radius: 25px;
}
.sliderBullets a:hover{
	background: #0c45ba;
}
.spec .sliderBullets{
	position: absolute;
	z-index: 100;
	top: -45px;
	left: 482px;
}
.otz .sliderBullets{
	position: absolute;
	right: 345px;
	bottom: 185px;
}
.spec .slider{
	margin-top: -35px;
}
.spec h2{
   font-size: 36px;
   margin-top: 40px;
   margin-left: 50px;
}
/* ------ Стили для mobilyslider
-----------------------------------------------*/

#content {
margin:100px auto 0;
}

.slider {
float:left;
width:100%;
height:570px;
position:relative;
padding-bottom:26px;
}

.sliderContent {
float:left;
width:100%;
height:100%;
margin-top: -100px;
clear:both;
position:relative;
overflow:hidden;
background: #f7f7f7;
}
.spec .sliderContent{
	background: url(../img/bg_spec.jpg) no-repeat 50%;
}
.sliderContent .all_otz{
	color: #0654b5;
  font-family: 'MyriadProRegular';
  font-size: 24px;
  position: absolute;
  top:86%;
	right: 500px;
	z-index: 90;
}
.sliderContent .all_otz .all{

}

.spec .all {
    float: right;
    color: #0654b5;
    font-family: 'MyriadProRegular';
    font-size: 24px;
    margin-top: -50px;
    margin-right: 20px;
}

.sliderArrows a {
display:block;
text-indent:-9999px;
outline:none;
z-index:50;
margin-top:-34px;
}

.prev {
background: url(../img/carousel-left.png) no-repeat;
width:28px;
height:29px;
position:absolute;
top:70%;
right: 395px;
}

.next {
background: url(../img/carousel-right.png) no-repeat;
width: 89px;
height:29px;
position:absolute;
top:70%;
right: 242px;

}


.sliderContent .item {
max-width: 1445px;
height:545px;
margin: 0 auto;
}
.spec .sliderContent .item{
	margin-top: -22px;
}
.spec .sliderContent .item img{
	margin-left: 0;
}
.sliderContent .item img{
	margin-top: 44px;
	margin-left: 15%;
}
.sliderContent a {
outline:none;
}

a {
color:#fff;
}

a img {
border:none;
}
blockquote{
	position: absolute;
	width: 950px;
	right: 0px;
	top: 100px;
	letter-spacing: 2.1;
}
blockquote h2{
	font-family: 'RobotoLight';
	font-size: 36px;
	color: #8e8f8f;
	margin: 1em 3em;
	text-transform: uppercase;
}
blockquote p{
	font-family: 'RobotoLight';
	font-size: 18px;
	color: #8e8f8f;
}
blockquote:before, blockquote:after {
    font-size: 20em;
    color: #efefef;
   } 
   blockquote:before {
    content: 'ʻʻ';
    float: left;
    margin-top: -0.4em;
    
   }
   blockquote:after {
    content: ',,';
    float: right;
    margin-top: -1.2em;
   }